/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #ff0070;
  --second-accent-color: #ff0070;
  --rec-color:#ff0070;
  --title-color: #DB00FF;
  --bg-color: #000028;
  --txt-color: #F1B2CE;
  --bold-title-color: #000028;
  --transparent-outline-color: rgba(255, 0, 112, 0.4);
  --bg-img: url(../images/cover-image-dark.png);
}

